/* Reset default styles */
/* Global styles */
body,
html {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Set a default font family */
body {
  font-family: "Lora", serif;
}

/* Add global styles for the header */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Shadows Into Light Two", cursive;
  color: white;
}

.logout-btn {
  padding: 10px;
  border: 1px solid grey; /* Border color matching the color theme */
  border-radius: 5px;
  font-family: "Lora", serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.head-center {
  margin: 0%; /* Remove margin from element with this class */
  width: 100%; /* Make the element full width */
}

/* Add global styles for buttons */
button {
  cursor: pointer; /* Change cursor to pointer when hovering over buttons */
}

.form-input {
  margin-bottom: 1rem; /* Add space below form inputs */
}

#upcoming-trips-box,
#previous-trips-box,
#dream-trips-box {
  display: flex; /* Use flexbox layout for these boxes */
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  justify-content: space-between; /* Space out items within the boxes */
}

#footer {
  text-align: center; /* Center-align text in the footer */
  padding: 1rem; /* Add padding inside the footer */
  position: fixed; /* Fix the footer to the bottom of the viewport */
  bottom: 0; /* Position the footer at the bottom of the viewport */
  width: 100%; /* Make the footer full width */
}
